<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${booksList}">
        <a class="Card-picture" href="/books/slug.html" th:href="${'/books/' + book.slug}">
            <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
            <div class="Card-sale" th:if="${book.discount != 0}" th:text="#{main.sale(${book.discount})}">30% скидка
            </div>
            <div class="Card-ribbon">
                <span class="Card-ribbonText" th:if="${book.isBestseller}" th:text="#{main.bestseller}">Бестселлер</span>
            </div>
            <a th:if="${book.status?.equals('PAID')}" class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="Куплена"></a>
            <a th:if="${book.status?.equals('CART')}" class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg" alt="В корзине"></a>
            <a th:if="${book.status?.equals('KEPT')}" class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="Отложена"></a>
        </a>
        <div class="Card-content">
            <strong class="Card-title">
                <a href="/books/slug.html" th:href="${'/books/' + book.slug}" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description">
                <span th:text="${book.authors}">Кондратенко Александр Петрович</span>
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:if="${book.discount != 0}" th:text="${'₽' + book.getPriceJson()}">₽500.00</span>
                <span class="Card-price" th:if="${book.discount == 0}" th:text="${'₽' + book.getPriceJson()}">₽390.00</span>
                <span class="Card-price" th:unless="${book.discount == 0}" th:text="${'₽' + book.getDiscountPriceJson()}">₽390.00</span>
            </div>
        </div>
    </div>
</body>
</html>