<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<span class="Rating-stars" th:fragment="rating_stars">
    <span class="Rating-star">
        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                          fill="#ffc000"></path>
                </g>
            </g>
        </svg>
    </span>
    <input name="rating" type="radio" value="1"/>
    <span class="Rating-star">
        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                          fill="#ffc000"></path>
                </g>
            </g>
        </svg>
    </span>
    <input name="rating" type="radio" value="2"/><span class="Rating-star">
        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                          fill="#ffc000"></path>
                </g>
            </g>
        </svg>
    </span>
    <input name="rating" type="radio" value="3"/><span class="Rating-star">
        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                          fill="#ffc000"></path>
                </g>
            </g>
        </svg>
    </span>
    <input name="rating" type="radio" value="4"/><span class="Rating-star">
        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                          fill="#ffc000"></path>
                </g>
            </g>
        </svg>
    </span>
    <input name="rating" type="radio" value="5"/>
</span>
</body>
</html>